<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">	
<head>
<title>Controle de estagio</title>
</head>	  

<body>
<h3><a href="/login">Login</a></h3>
<h3><a href="/cadastroAluno">Cadastro Aluno</a></h3>
<h3><a href="/cadastroEmpresa">Cadastro Empresa</a></h3>
<h3><a href="/cadastroRelatorioEstagio">Cadastro Relatório de Estagio</a></h3>
<h3><a href="/cadastroSupervisor">Cadastro Supervisor de Estagio</a></h3>
<h3><a href="/cadastroVagasEstagio">Cadastro Vagas de estágio</a></h3>



</body>

</html>