<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">	
<head>
<title>Controle de estagio</title>
</head>	  

<body>

<h1>Cadastro do aluno</h1>
<form method="post">
	RA: <input type="text" value="" name="ra"/>
	Nome: <input type="text" value="" name="nome"/>
	Sobrenome: <input type="text" value="" name="sobrenome"/><br>
	<br>
	Curso: <input type="text" value="" name="curso"/>
	Ano do curso: <input type="text" value="" name="anoDoCurso"/>
	Término: <input type="text" value="" name="termino"/><br>
	<br>
	Habilidades: <input type="text" value="" name="habilidade"/>
	Sobre você: <input type="text" value="" name="sobreVoce"/><br>
	<br>
	<button type="submit">Enviar</button>

</form>

</body>

</html>